# Use hoisted linker to avoid symlink issues with expo-router
node-linker=hoisted
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*@react-navigation*
public-hoist-pattern[]=*react-native*
shamefully-hoist=true
